<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties" />
	</bean>
	<bean id="txProxyTemplate" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	
	
	<bean id="myProperties" class="com.base.util.MyProperties">
	    <property name="onlinepdfPath">
			<value>C:\\IIS\\Costco_RPT\\onlinepdf\\</value>
		</property>
		 <property name="vendorOrderPath">
			<value>C:\\Tomcat\\webapps\\costco\\download\\vendorOrder.zip</value>
		</property>
		<property name="fmYear">
			<value>FY20</value>
		</property>
		<property name="printServer">
			<value>http://127.0.0.1:8077/?</value>
		</property>
		<property name="vendorExcelPath">
			<value>C:\\Tomcat\\webapps\\costco\\download\\vendorExcel.xls</value>
		</property>
	</bean>
	
	
	
	<bean id="commonManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.common.service.impl.CommonManagerImpl">
				<property name="genericDAO" ref="commonDAO" />
			</bean>
		</property>
	</bean>
	
	
	 <bean id="costcoManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.costco.service.impl.CostcoManagerImpl">
                <property name="genericDAO" ref="costcoDAO"/>
            </bean>
        </property>
    </bean>
    
    
    
	
</beans>